services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080" # Dashboard port
    volumes:
      # Mount the static configuration files into the container
      - "./traefik/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "./traefik/acme.json:/letsencrypt/acme.json"
      # Mount the Docker socket
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - proxy

  client:
    image: ghcr.io/aet-devops25/team-3/client:{{ image_tag }}
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.client.rule=Host(`studymate-tum.xyz`)"
      - "traefik.http.routers.client.entrypoints=websecure"
      - "traefik.http.routers.client.tls.certresolver=myresolver"
      - "traefik.http.services.client.loadbalancer.server.port=80"

  server:
    image: ghcr.io/aet-devops25/team-3/server:{{ image_tag }}
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.server.rule=Host(`studymate-tum.xyz`) && PathPrefix(`/api`)"
      - "traefik.http.routers.server.entrypoints=websecure"
      - "traefik.http.routers.server.tls.certresolver=myresolver"
      - "traefik.http.services.server.loadbalancer.server.port=8082"
    environment: # TODO: replace values with an env variables & secrets
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/mydb
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=placeholder
    depends_on:
      - postgres
      - weaviate

  genai:
    image: ghcr.io/aet-devops25/team-3/genai:{{ image_tag }}
    restart: unless-stopped
    environment:
      - WEAVIATE_HOST=weaviate
      - WEAVIATE_PORT=8083
      - OPEN_WEBUI_API_KEY_CHAT="{{ open_webui_api_key_chat }}"
      - OPEN_WEBUI_API_KEY_GEN="{{ open_webui_api_key_gen }}"
      - LANGSMITH_TRACING=true
      - LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
      - LANGSMITH_API_KEY="{{ langsmith_api_key }}"
      - LANGSMITH_PROJECT="studymate"
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.genai.rule=Host(`studymate-tum.xyz`) && PathPrefix(`/genai`)"
      - "traefik.http.routers.genai.entrypoints=websecure"
      - "traefik.http.routers.genai.tls.certresolver=myresolver"
      - "traefik.http.services.genai.loadbalancer.server.port=8081"
    depends_on:
      - weaviate

  postgres:
    image: postgres:15
    ports: # TODO: remove?
      - "5432:5432"
    environment: # TODO: replace values with an env variables & secrets
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - proxy

  weaviate:
    command:
      - --host
      - 0.0.0.0
      - --port
      - '8083'
      - --scheme
      - http
    image: cr.weaviate.io/semitechnologies/weaviate:1.30.3
    ports: # TODO: remove?
      - 8083:8083
      - 50051:50051
    volumes:
      - weaviate_data:/var/lib/weaviate
    networks:
      - proxy
    restart: on-failure:0
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      ENABLE_API_BASED_MODULES: 'true'
      CLUSTER_HOSTNAME: 'node1'

  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - proxy

  grafana:
    image: grafana/grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
    networks:
      - proxy
    environment:
      - GF_SECURITY_ADMIN_USER= {{ grafana_admin_username }}
      - GF_SECURITY_ADMIN_PASSWORD= {{ grafana_admin_password }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`studymate-tum.xyz`) && PathPrefix(`/monitor`)"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.routers.grafana.tls.certresolver=myresolver"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
    depends_on:
      - prometheus


volumes:
  pgdata:
  weaviate_data:

networks:
  proxy:
    name: proxy-net